<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Christmas App</title>
</head>
<body>
<h2>Merry Christmas!</h2>
<form th:action="@{/addPeople}" method="get">
    <button type="submit">Add new person</button>
</form>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Action </th>
        </tr>
    </thead>
    <tbody>
        <tr th:each ="person : ${peopleList}">
            <td th:utext="${person.name}">...</td>
            <td><a th:href="@{'/deletePerson/' + ${person.id}}">Remove</a></td>
        </tr>
    </tbody>
</table>
<form th:action="@{/makeMatch}" method="get">
    <button type="submit">Start Match</button>
</form>
</body>
</html>