<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Matches</title>
</head>
<body>
<h2>Match Results</h2>
<form th:action="@{/retryMatch}" method="get">
  <button type="submit">Retry</button>
</form>
<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>The matched person</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each ="person : ${matchedPeopleList}">
    <td th:utext="${person.name}">...</td>
    <td th:utext="${person.matchedPerson.getName()}">...</td>
  </tr>
  </tbody>
</table>
<form th:action="@{/}" method="get">
  <button type="submit">HOME</button>
</form>
</body>

</html>